@use '../base';

// Shared styles for catalog and cart item cards
.catalog-container, .cart-container {
  display: flex;
  flex-direction: column;
  //gap: 1.5rem;
  padding: 2rem;
  min-height: 70vh;

  .empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    color: base.$color-darker-gray;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }
}

.item-card {
  margin-bottom: 1rem;
  background-color: base.$color-white;
  border: 1px solid base.$color-darker-gray;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: base.$color-gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .item-content {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
    cursor: pointer;

    .item-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      border: 2px solid base.$color-black;
      margin-right: 1rem;
    }

    .item-info {
      display: flex;
      flex-direction: column;
      min-width: 0;

      .item-name {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .item-price {
        font-size: 1.2rem;
        color: base.$color-dark;
        margin-bottom: 0.5rem;
      }

      .item-rating {
        font-size: 1rem;
        color: base.$color-accent;
        margin-bottom: 0.5rem;
      }

      .item-stock {
        font-size: 0.9rem;
        color: base.$color-black;
      }
    }
  }

  .item-counter {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .counter-btn {
      display: flex;
      align-items: center;
      background-color: base.$color-light-blueberry;
      color: base.$color-white;
      border: none;
      padding: 0.75rem 1.25rem;
      border-radius: 8px;
      font-size: 1.25rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: base.$color-accent;
      }

      &:disabled {
        background-color: base.$color-darker-gray;
        cursor: not-allowed;
      }

      svg {
        fill: base.$color-white;
      }
    }

    .quantity {
      box-sizing: content-box;
      font-size: 1.6rem;
      cursor: auto;
      margin: 0 1.5rem;
      font-weight: bold;
      background-color: base.$color-light-blueberry;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      color: base.$color-white;
      width: 50px;
      text-align: center;
    }
  }

  .item-action-btn {
    @include base.btn-icon-align;
    color: base.$color-white;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
    z-index: 100;

    svg {
      fill: base.$color-white;
    }
  }
  .item-action-btn-add {
    background-color: base.$color-secondary;

    &:hover {
      background-color: base.$color-accent;
    }
  }

  .item-action-btn-remove {

    background-color: base.$color-light-red;

    &:hover {
      background-color: base.$color-darker-gray;
    }
  }

}

// Header for both catalog and cart
.catalog-header, .cart-header, .catalog-container {
  margin-bottom: 1.5rem;

  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: base.$color-accent;
  }

  .clear-cart-icon {
    background-color: base.$color-accent;
    fill: white;
    border: 1px solid base.$color-black;
    box-sizing: content-box;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}

// Trash button in the cart
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .clear-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: base.$color-light-red;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: base.$color-dark;
    }

    svg {
      fill: base.$color-white;
    }
  }
}

// Modal styling for item removal or cart clearing
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;

  .modal-content {
    top: -100px;
    background-color: base.$color-white;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    .modal-header button {
      background-color: base.$color-white;

      &:hover {
        background-color: base.$color-darker-gray;
      }
    }

    h3, h4, .modal-title {
      font-size: 1.75rem;
      color: base.$color-accent;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .modal-body {
      font-size: 1.2rem;
      color: base.$color-black;
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
    }

    button {
      @include base.button-style(base.$color-secondary, base.$color-white);
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border-radius: 8px;

      &:hover {
        background-color: base.$color-accent;
      }

      &.btn-danger {
        background-color: base.$color-light-red;

        &:hover {
          background-color: base.$color-light-red;
        }
      }
    }
  }
}
