@use '../base';

.form-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 3rem 2rem;
  background-color: base.$color-white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: base.$color-dark;
    margin-bottom: 1.5rem;
  }

  .error-message {
    color: red;
    font-size: 0.9rem;
    list-style-type: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #ffe6e6;
    border-radius: 4px;
  }

  .form-floating {
    margin-bottom: 1rem;

    input {
      border: 1px solid base.$color-darker-gray;
      &:focus {
        border-color: base.$color-accent;
        box-shadow: 0 0 5px rgba(base.$color-accent, 0.5);
      }
    }

    label {
      color: base.$color-primary;
      font-weight: 500;
    }
  }

  button {
    margin-top: 1rem;
    @include base.button-style(base.$color-secondary, base.$color-white);
    width: 100%;  // Ensure the button takes full width of the form
  }
}